In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('container_random_forest.csv',encoding = 'utf-8')

In [3]:
df1 = pd.read_csv('expanded_positive_1wsamples.csv',encoding = 'utf-8')

In [7]:
df.drop(['Unnamed: 0.1', 'Unnamed: 0','Predict_Proba'],axis=1, inplace=True)

In [12]:
df1['ISPOTIENTIAL']=1

In [14]:
df1 = df1.rename(columns={'95':'FREIGHT_95306','RE':'FREIGHT_REAL','DIS':'DISCOUNT'})

In [16]:
df1.columns = df1.columns.str.replace('_1', '')

In [17]:
df1.columns

Index(['CARGOWGT', 'ARRIVAL_INTERVAL', 'WAIT_INTERVAL', 'WORK_INTERVAL',
       'LEAVE_INTERVAL', 'TRANS_INTERVAL', 'STACK_INTERVAL', 'CATEGORY',
       'ISHIGH', 'ISREFRIGERATED', 'ISCOMPLETED', 'ISTANK', 'JFLC', 'TIME',
       'COST', 'TCOST', 'FREIGHT_95306', 'FREIGHT_REAL', 'DISCOUNT', 'TJFLC',
       'TTIME', 'TOIL', 'CNTRSIZCOD_20', 'CNTRSIZCOD_40', 'EFMARK_E',
       'EFMARK_F', 'IMTRADEMARK_D', 'IMTRADEMARK_F', 'ISPOTIENTIAL'],
      dtype='object')

In [11]:
df.columns

Index(['CARGOWGT', 'ARRIVAL_INTERVAL', 'WAIT_INTERVAL', 'WORK_INTERVAL',
       'LEAVE_INTERVAL', 'TRANS_INTERVAL', 'STACK_INTERVAL', 'CATEGORY',
       'ISHIGH', 'ISREFRIGERATED', 'ISCOMPLETED', 'ISTANK', 'DATADATE',
       'FZHZM', 'DZHZM', 'JFLC', 'ISPOTIENTIAL', 'TIME', 'COST', 'TCOST',
       'FREIGHT_95306', 'FREIGHT_REAL', 'DISCOUNT', 'TJFLC', 'TTIME', 'TOIL',
       'CNTRSIZCOD_20', 'CNTRSIZCOD_40', 'EFMARK_E', 'EFMARK_F',
       'IMTRADEMARK_D', 'IMTRADEMARK_F'],
      dtype='object')

In [21]:
df1.count()

CARGOWGT            100000
ARRIVAL_INTERVAL    100000
WAIT_INTERVAL       100000
WORK_INTERVAL       100000
LEAVE_INTERVAL      100000
TRANS_INTERVAL      100000
STACK_INTERVAL      100000
CATEGORY            100000
ISHIGH              100000
ISREFRIGERATED      100000
ISCOMPLETED         100000
ISTANK              100000
JFLC                100000
TIME                100000
COST                100000
TCOST               100000
FREIGHT_95306       100000
FREIGHT_REAL        100000
DISCOUNT            100000
TJFLC               100000
TTIME               100000
TOIL                100000
CNTRSIZCOD_20       100000
CNTRSIZCOD_40       100000
EFMARK_E            100000
EFMARK_F            100000
IMTRADEMARK_D       100000
IMTRADEMARK_F       100000
ISPOTIENTIAL        100000
dtype: int64

In [18]:
df[df.ISPOTIENTIAL==-1]

2022/12/1    4028
2022/10/1    3894
2022/4/1     3425
2022/11/1    3420
2022/3/1     3271
2022/6/1     3253
2022/5/1     3237
2022/2/1     3236
2022/1/1     3132
2023/5/1     1442
2023/2/1     1077
2023/4/1      981
2023/6/1      926
2023/3/1      852
2022/8/1      672
2023/1/1      660
2022/9/1      653
2022/7/1      579
2023/7/1      546
Name: DATADATE, dtype: int64

In [19]:
result = pd.concat([df, df1])

In [20]:
result.count()

CARGOWGT            156460
ARRIVAL_INTERVAL    156460
WAIT_INTERVAL       156460
WORK_INTERVAL       156460
LEAVE_INTERVAL      156460
TRANS_INTERVAL      156460
STACK_INTERVAL      156460
CATEGORY            156460
ISHIGH              156460
ISREFRIGERATED      156460
ISCOMPLETED         156460
ISTANK              156460
DATADATE             56460
FZHZM                56460
DZHZM                56460
JFLC                156460
ISPOTIENTIAL        156460
TIME                156460
COST                156460
TCOST               156460
FREIGHT_95306       156460
FREIGHT_REAL        156460
DISCOUNT            156460
TJFLC               156460
TTIME               156460
TOIL                156460
CNTRSIZCOD_20       156460
CNTRSIZCOD_40       156460
EFMARK_E            156460
EFMARK_F            156460
IMTRADEMARK_D       156460
IMTRADEMARK_F       156460
dtype: int64

In [31]:
df.DATADATE.value_counts()

2022/12/1    5944
2022/11/1    5282
2022/10/1    4946
2023/5/1     4147
2022/6/1     3502
2022/4/1     3425
2022/3/1     3271
2022/5/1     3237
2022/2/1     3236
2022/1/1     3132
2023/6/1     2969
2023/4/1     2880
2023/2/1     2751
2023/3/1     2409
2023/1/1     1581
2023/7/1     1267
2022/9/1      900
2022/7/1      813
2022/8/1      768
Name: DATADATE, dtype: int64

In [20]:
COLUMNS_SET1 = ['CARGOWGT', 'ARRIVAL_INTERVAL', 'WAIT_INTERVAL', 'WORK_INTERVAL', 'LEAVE_INTERVAL',
                'TRANS_INTERVAL', 'STACK_INTERVAL', 'ISHIGH',
                'ISREFRIGERATED', 'ISCOMPLETED', 'ISTANK', 'TJFLC', 'TTIME', 'TOIL', 'TCOST', 'CNTRSIZCOD_20.0',
                'CNTRSIZCOD_40.0', 'CNTRSIZCOD_45.0', 'EFMARK_E', 'EFMARK_F', 'IMTRADEMARK_D',
                'IMTRADEMARK_F']